Source: rplc
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl
Maintainer: Tom Jones <tom@oxix.org>
Standards-Version: 3.9.1

Package: rplc
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libstring-random-perl
Description: Replace contents of a file with output from a program
